[Desktop Entry]
Name=instantWM
Comment=Fast and lightweight Wayland compositor
Exec=instantwm-session
Type=Application
DesktopNames=instantWM
X-GNOME-SessionName=instantWM
