[Desktop Entry]
Encoding=UTF-8
Name=instantWM
Comment=instantOS window manager
Exec=startinstantos
DesktopNames=instantwm
Icon=instantwm
Type=XSession
