[Desktop Entry]
Encoding=UTF-8
Name=instantWM (Wayland)
Comment=instantOS window manager (Wayland)
Exec=instantwm-wayland
DesktopNames=instantwm
Icon=instantwm
Type=Application
