[Desktop Entry]
Name=instantWM (X11)
Comment=instantOS window manager (X11)
Exec=startinstantos
TryExec=startinstantos
DesktopNames=instantwm
Icon=instantwm
Type=Application
